<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <!-- Кодировка сайта -->
    <!-- Сайт готов работать с мобильными устройствами -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Загружаем фав-иконки -->
    <link rel="icon" href="fav.ico" type="image" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Подключен файл со стандартными стилями бустрап -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Название вкладки -->
    <title>Decathlon</title>
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static '1.12.1/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '1.12.1/js/dataTables.bootstrap5.min.js' %}"></script>
    <link
      href="{% static '1.12.1/css/dataTables.bootstrap5.min.css' %}"
      rel="stylesheet"
      id="bootstrap-css"
    />
    {% csrf_token %}
    <script>
      window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
  </head>
  <body>
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Decathlon</h4>
        </div>
        <div class="col-4">
          <div id="date">
            <div class="input-group input-group-sm mb-3">
              <label class="input-group-text" id="name_input_file"
                >Choose file</label
              >
              <input
                class="form-control"
                type="file"
                name="files"
                id="input_csv"
                required
                multiple
              />
            </div>
            <button type="button" class="btn btn-primary" id="FileButton">
              DOWNLOAD JSON
            </button>
          </div>

          <p></p>
        </div>

        <div class="modal-body">
          <table
            class="table table-bordered table-responsive table-striped table-hover"
            id="SP_Table"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Score</th>
                <th scope="col">Place</th>
                <th scope="col">File</th>
                <th scope="col">Results</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </body>

  <script src="{% static 'js/index.js' %}"></script>
</html>
